@typeparam TItem
<div class="game-api-grid" style="grid-template-columns: @(string.Join(" ", Enumerable.Repeat("1fr", MaxItemsPerRow))); gap: @Gap">
    @if (Items is null || GridItem is null)
    {
        return;
    }

    @foreach (var item in Items)
    {
        <div class="game-api-grid__col">
            @GridItem(item)
        </div>
    }
</div>