@page "/tic-tac-toe/{gameId:guid}"
<h3>TicTacToe</h3>

@switch (_state)
{
    case State.Loading:
        <span>Retrieving game...</span>
        break;
    case State.Joining:
        <span>Joining...</span>
        break;
    case State.LobbyFull:
        <span>The lobby is full.</span>
        break;
    case State.WaitingInLobby:
        <span>Waiting for start...</span>
        break;
}