@page "/game/{gameId:guid}"
@inject NavigationManager navigationManager

<h3>Game</h3>

@if (!string.IsNullOrWhiteSpace(joinUrl))
{
    <Input ReadOnly="true" Value="joinUrl"/>
}

@code {
    [Parameter]
    public Guid GameId{ get; set; }

    private string joinUrl = string.Empty;

    protected override void OnParametersSet()
    {
        joinUrl = Path.Combine(navigationManager.BaseUri, $"?gameId={GameId}");
    }
}
